* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--primary-text);
}
img {
  object-fit: cover;
}
ul {
  list-style: none;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 16px;
  background-color: var(--bg-second);
}

/* Active Icon */
#header-center .active svg {
  fill: #1877f2;
}
.active li {
  border-bottom: 3.5px solid #1877f2;
}
#activeIcon {
  background-color: var(--bg-active-icon);
}
#activeIcon svg {
  fill: var(--border-img-user);
}
#activeIcon svg:nth-child(1) {
  filter: invert(0);
}
#activeIcon svg:nth-child(4) {
  filter: invert(0);
}
/* Custom Active Link Profile Tabs */
#profile-tab .active {
  color: var(--color-primary);
}
#profile-tab .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2.4px;
  width: 100%;
  background-color: var(--color-primary);
}

/* Custom Slick */
.slick-slide {
  margin: 0 8px;
}
.slick-list {
  margin: 0 -8px;
}
/* Custom Changes Color Tabs watch */
.selected i {
  filter: invert(100%);
}
.selected li {
  background-color: var(--bg-second);
}
.selected-home div {
  background-color: #1877f2;
}
.selected-live div {
  background-color: #f0284a;
}
.selected-shows div {
  background-color: #2abba7;
}
.selected-saved div {
  background-color: #f7b928;
}
/* Custom radio color */
.MuiRadio-colorSecondary.Mui-checked {
  color: #767676 !important;
}
/* Custom verify user */
#verify {
  background-image: url(./images/menuIcon.png);
  background-position: -84px -157.3px;
  background-size: 190px 216px;
  width: 16px;
  margin-left: 9px;
  height: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 335px;
  background-color: var(--bg-first);
  color: var(--primary-text);
  text-align: start;
  border-radius: 6px;
  padding: 13px 18px;
  position: absolute;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  z-index: 99;
  bottom: 28px;
  left: -25px;
}
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 8%;
  border-width: 5px;
  border-style: solid;
  border-color: var(--bg-first) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media only screen and (max-width: 600px) {
  .tooltip .tooltiptext {
    left: -170px;
  }
  .tooltip .tooltiptext::after {
    left: 51.5%;
  }
}

/* Custom Allow to save button profile update */
#allow-to-save {
  cursor: pointer;
  background-color: #1b74e4;
  color: white;
}
#cant-save {
  cursor: not-allowed;
}
/* Custom Tag Hobbies */
.tag-hobbies input[type='checkbox'] {
  display: none;
}
#update-avatar input[type='file'] {
  display: none;
}
#update-cover input[type='file'] {
  display: none;
}
.tag-hobbies input[type='checkbox']:checked ~ p {
  color: var(--color-primary);
  background-color: var(--primary-deemphasized-button-background);
}
/* Custom Track slider Material UI */
.MuiSlider-thumb {
  color: white;
  height: 14px !important;
  border: 1px solid #ced0d4;
  width: 14px !important;
  margin-top: -4.7px !important;
  box-shadow: 0 2px 9px var(--media-inner-border) !important;
}
.MuiSlider-rail {
  color: #ced0d4;
  height: 5px !important;
}
.MuiSlider-colorPrimary {
  color: #1876f2 !important;
}
.MuiSlider-track {
  height: 5px !important;
  border-radius: 8px !important;
}
/* Custom Follow active */
#follow-active {
  color: var(--color-primary);
}
#follow-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px;
  height: 2.4px;
  width: 100%;
  background-color: var(--color-primary);
}

/* Custom Change slider Looking for other hobbies */
.otherHobbies-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.2s;
}
.otherHobbies {
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
  opacity: 1;
  transform: translateX(0);
}

.otherHobbiesTab {
  transform: translateX(100%);
  top: 0;
  position: absolute;
  opacity: 0;
  left: 0;
  width: 100%;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}
.show-Hobbies {
  opacity: 1;
  transition: 0.2s;
  transform: translateX(0);
}

#smallSize::placeholder {
  font-size: 16px;
}
#smallSize {
  font-size: 16px;
}
.MuiTooltip-tooltip {
  max-width: none !important;
}

.overLayBody {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
  top: 0;
}

/* Custom overlay of last img in post */
.overlay-post-last-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  z-index: 2;
  background-color: var(--always-dark-overlay);
}
