/* Light Theme */
body {
  --color-online: #31a24c;
  --border-img-user: #1876f2;
  --primary-text: #050505;
  --scroll-color: rgba(0, 0, 0, 0.1);
  --border-sidebar: #ddd;
  --hover-icon-right-header: #d8dadf;
  --button-bg: #e4e6eb;
  --bg-first: #ffffff;
  --bg-second: #f0f2f5;
  --bg-icon: #d8dadf;
  --secondary-text: #65676b;
  --hover-bg-icon: #f2f2f2;
  --hover-bg-sidebar: #e4e6e8;
  --overlay-gray: #e4e6eb;
  --hover-remove-icon: #d7d8d9;
  --hover-overlay-gray: #d8dadf;
  --color-primary: #1877f2;
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --text-meet-light: #216fdb;
  --border-meet: #e7f3ff;
  --blue-link: #4599ff;
  --bg-active-icon: #e7f3ff;
  --color-icon: #5b626a;
  --bg-input-light: rgb(240 242 245);
  --always-dark-overlay: rgba(255, 255, 255, 0.4);
  --border-header: #e3e5e8;
  --border-box-setting: #e3e5e8;
  --bg-input: #f0f2f5;
  --color-input: #65676b;
  --bg-active: #e7f3ff;
  --divider: #ced0d4;
  /* color:#1c1e21; */
  --bg-icon-search: #1876f2;
  --primary-button-background: #1b74e4;
  --invert: 0%;
  --media-inner-border: rgba(0, 0, 0, 0.1);
  --hover-overlay-blue: #1a6ed8;
  --shadow1: rgba(0, 0, 0, 0.1);
  --shadow2: rgba(0, 0, 0, 0.2);
  --shadow-inset: rgba(255, 255, 255, 0.05);
  --secondary-button-bg: #e4e6eb;
  --invert2: 39%;
  --primary-deemphasized-button-background: #e7f3ff;
  --bg-search-hover: #e3e4e5;
  --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
  --secondary-fill-icon: #65676b;
  --overlay-box: #f3f3f4;
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --secondary-button-background: #e4e6eb;
  --disabled-button-text: #bcc0c4;

  --disabled-button-bg: #e4e6eb;
  --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%)
    contrast(91%);
}
/* Dark Theme */
body.dark-mode {
  --disabled-button-text: rgba(255, 255, 255, 0.3);
  --divider: #3e4042;
  --disabled-button-bg: rgba(255, 255, 255, 0.2);
  --hover-remove-icon: #3f4042;
  --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
  --secondary-button-bg: rgb(33 46 58);
  --bg-active-icon: #263951;
  --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
  --color-online: #31a24c;
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --overlay-box: #0e0e0e;
  --shadow2: rgba(0, 0, 0, 0.2);
  --border-img-user: #2e89ff;
  --primary-text: #e4e6eb;
  --shadow-inset: rgba(255, 255, 255, 0.05);
  --primary-button-background: #2374e1;
  --scroll-color: #5e5e5f;
  --bg-active: #263951;
  --bg-icon-search: #2e89ff;
  --secondary-button-background: rgba(255, 255, 255, 0.1);
  --border-sidebar: #3e4042;
  --hover-icon-right-header: #4e4f50;
  --invert: 90%;
  --invert2: 65%;
  --fill-icon: #e7e9ed;
  --bg-search-hover: #292a2c;
  --button-bg: rgba(255, 255, 255, 0.1);
  --bg-first: #242526;
  --bg-second: #18191a;
  --overlay-alpha-80: rgba(0, 0, 0, 0.8);
  --bg-icon: #d8dadf;
  --secondary-text: #b0b3b8;
  --hover-bg-icon: #3a3b3c;
  --hover-bg-sidebar: #303031;
  --overlay-gray: #e4e6eb;
  --hover-overlay-gray: #d8dadf;
  --hover-overlay-blue: #3982e4;
  --color-primary: #1877f2;
  --text-meet-light: #4599ff;
  --border-meet: #263951;
  --blue-link: #4599ff;
  --color-icon: #5b626a;
  --shadow1: rgba(0, 0, 0, 0.1);
  --bg-input-light: rgb(240 242 245);
  --always-dark-overlay: rgba(255, 255, 255, 0.4);
  --border-header: #363738;
  --border-box-setting: #2c2d2e;
  color: #e4e6eb;
  --bg-input: #3a3b3c;
  --color-input: #b0b3b8;
  --media-inner-border: rgba(255, 255, 255, 0.05);
  --secondary-fill-icon: #b0b3b8;
  --filter-primary-icon: invert(89%) sepia(6%) hue-rotate(185deg);
}

#header-center svg {
  fill: var(--secondary-fill-icon);
}
