* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-first: #FFFFFF;
    --bg-second: #F0F2F5;
    --bg-icon: #D8DADF;
    --secondary-text: #65676b;
    --hover-bg-icon: #F2F2F2;
    --hover-bg-sidebar: #E4E6E8;
    --overlay-gray:#e4e6eb;
    --hover-overlay-gray:#D8DADF;
    --color-primary: #1877f2;
    --color-icon:#5B626A;
    --always-dark-overlay:rgba(255, 255, 255, 0.4);
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
#header-center  svg{
    fill:#65676b ;
}
#header-center .active svg {
    fill: #1877f2;
}
.active li {
    border-bottom: 3.5px solid #1877f2;
}
