* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-first: #FFFFFF;
    --bg-second: #F0F2F5;
    --bg-icon: #D8DADF;
    --secondary-text: #65676b;
    --hover-bg-icon: #F2F2F2;
    --hover-bg-sidebar: #E4E6E8;
    --overlay-gray:#e4e6eb;
    --hover-overlay-gray:#D8DADF;
    --color-primary: #1877f2;
    --text-meet-light: #216fdb;
    --border-meet-light:#e7f3ff;
    --blue-link: #4599ff;
    --color-icon:#5B626A;
    --bg-input-light: rgb(240 242 245);
    --always-dark-overlay:rgba(255, 255, 255, 0.4);
}
img {
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 16px;
    background-color: var(--bg-second);
}
#header-center  svg{
    fill:#65676b ;
}
#header-center .active svg {
    fill: #1877f2;
}
.active li {
    border-bottom: 3.5px solid #1877f2;
}

/* Custom Slick */
.slick-slide {
  margin: 0 8px;
}
.slick-list {
  margin: 0 -8px;
}
/* Custom Changes Color Tabs watch */
#home,#live,#show,#saved {
    filter: invert(100%);
}
#bg-home-active {
    background-color: #1877F2;
}
#bg-live-active {
    background-color: #F0284A;
}
#bg-show-active {
    background-color: #2ABBA7;
}
#bg-saved-active {
    background-color: #F7B928;
}
#bg-active {
    background-color: var(--bg-second);
}