/* Light Theme */
body {
    --color-online:#31A24C;
    --border-img-user:#1876F2;
    --primary-text:#050505;
    --scroll-color:rgba(0,0,0,.1);
    --border-sidebar:#ddd;
    --hover-icon-right-header:#D8DADF;
    --button-bg: #e4e6eb;
    --bg-first: #FFFFFF;
    --bg-second: #F0F2F5;
    --bg-icon: #D8DADF;
    --secondary-text: #65676b;
    --hover-bg-icon: #F2F2F2;
    --hover-bg-sidebar: #E4E6E8;
    --overlay-gray:#e4e6eb;
    --hover-overlay-gray:#D8DADF;
    --color-primary: #1877f2;
    --text-meet-light: #216fdb;
    --border-meet:#e7f3ff;
    --blue-link: #4599ff;
    --bg-active-icon:#e7f3ff;
    --color-icon:#5B626A;
    --bg-input-light: rgb(240 242 245);
    --always-dark-overlay:rgba(255, 255, 255, 0.4); 
    --border-header:#E3E5E8;
    --border-box-setting:#E3E5E8;
    --bg-input:#F0F2F5;
    --color-input:#65676B;
    --bg-active:#e7f3ff;
    /* color:#1c1e21; */
    --invert:0%;
    --secondary-fill-icon:#65676b;

}
/* Dark Theme */
body.dark-mode {
    --bg-active-icon:#263951;
    --color-online:#31A24C;
    --border-img-user:#2E89FF;
    --primary-text:#e4e6eb;
    --scroll-color:#5E5E5F;
    --bg-active:#263951;
    --border-sidebar:#3e4042;
    --hover-icon-right-header:#4E4F50;
    --invert:90%;
    --fill-icon:#E7E9ED;
    --button-bg: rgba(255,255,255,.1);
    --bg-first: #242526;
    --bg-second: #18191a;
    --bg-icon: #D8DADF;
    --secondary-text: #b0b3b8;
    --hover-bg-icon: #3A3B3C;
    --hover-bg-sidebar: #303031;
    --overlay-gray:#e4e6eb;
    --hover-overlay-gray:#D8DADF;
    --color-primary: #1877f2;
    --text-meet-light: #4599ff;
    --border-meet:#263951;
    --blue-link: #4599ff;
    --color-icon:#5B626A;
    --bg-input-light: rgb(240 242 245);
    --always-dark-overlay:rgba(255, 255, 255, 0.4); 
    --border-header:#363738;
    --border-box-setting:#2C2D2E;
    color: #e4e6eb;
    --bg-input:#3A3B3C;
    --color-input:#B0B3B8;
    --secondary-fill-icon:#b0b3b8;
}

#header-center  svg{
    fill:var(--secondary-fill-icon) ;
}